.home {

  .text {
    margin-bottom: 24px;

    & > * {
      margin-bottom: 18px;
    }

    #homepage-title {
      -webkit-text-fill-color: white;
      -webkit-text-stroke-width: .7px;
      -webkit-text-stroke-color: black;
    
      font-size: 2rem;
    }
  
    .description {
      font-weight: lighter;
    }
  }
  
  button {
    width: 100%;

    &.view-2019-shirt-btn {
      margin-bottom: 36px;
    }
  }

  .view-past {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    bottom: -24px;
    width: calc(100% - 30px);

    color: black;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .home .text #homepage-title {
    font-size: 2.4rem;
  }

  .home .view-past {
    bottom: 12px;
  }
}
