.home {

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 90px;

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 18px;
      font-size: 2.8rem;
    }

    .description {
      font-weight: lighter;
      margin-bottom: 24px;
    }

    button.view-2019-shirt-btn {
      width: 300px;
      margin-bottom: 48px;
    }

    .view-past {
      display: flex;
      flex-direction: column;
      align-items: center;

      color: black;
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .home {
    .main {
      margin-bottom: 36px;

      .title {
        font-size: 2rem;
        text-align: center;
    
        div {
          margin-bottom: 12px;
        }
      }
    }
  }
}
