.top-bar {

  .bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 18px;
    border-bottom: 6px solid #0094d2;
    margin-bottom: 12px;

    clr-icon {
      color: black;
    }
  }

  #brand {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .top-bar {
    .bar {
      .title {
        font-size: 1.6rem;
      }
    }

    #brand {
      font-size: 1.5rem;
    }
  }
}