.application {
  width: 100%;
  max-width: 900px;
  padding: 18px;


  .main-container {

    .container {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 90px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .title {
    font-weight: bold;
    font-size: 1.4rem;
    color: black;
  }

  .btn-primary {
    border-color: #00498C;
    background-color: #00498C;
  }

}