@font-face {
  font-family: 'MetropolisRegular';

  /* https://github.com/chrismsimpson/Metropolis */
  src: url('./fonts/Metropolis-Regular.woff2') format('woff2'),
       url('./fonts/Metropolis-Regular.woff') format('woff');
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  
  font-family: 'MetropolisRegular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}