.success {
  padding: 36px 0;

  .row:first-child {
    margin-bottom: 48px;
  }

  .message {

    .title {
      margin-bottom: 18px;

      .love-u-gesture {
        position: relative;
        top: -2px;
        margin-left: 6px;
      }
    }

    .description {
      font-size: 1.2rem;
      font-weight: lighter;
      line-height: 1.6rem;

      span {
        font-weight: bold;
      }
    }
  }

  .qr-code {
    display: flex;
    justify-content: center;
  }

  hr {
    margin-bottom: 42px;
  }

  .image-links {
    a {
      color: black;
    }

    #Angel-MedFlight .img-container {
      position: relative;
      top: 30px;
    }

    #TechSoup .img-container {
      position: relative;
      top: 72px;
    }
  }

}

@media (max-width: 768px) {
  .success .image-links {
    & > div {
      margin-bottom: 72px;
    }

    #Angel-MedFlight .img-container {
      position: static;
    }

    #TechSoup .img-container {
      position: static;
    }
  }

  .success .message {
    margin-bottom: 24px;

    .title {
      text-align: center;

      span:first-child {
        display: block;
      }
    }
  }
}