.success {

  .message {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      margin-bottom: 18px;
    }

    .description {
      font-size: 1.2rem;
      font-weight: lighter;
      line-height: 1.6rem;
      margin-bottom: 24px;
      width: 288px;

      span {
        font-weight: bold;
      }
    }
  }

  .animation {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
    background-color: lightgray;
  }
}

@media (max-width: 768px) {
  .success .animation {
    display: none;
  }

  .success .videos > div {
    margin-bottom: 36px;
  }
}