.success {
  padding: 36px 0;

  .row:first-child {
    margin-bottom: 48px;
  }

  .message {

    .title {
      margin-bottom: 18px;

      .love-u-gesture {
        position: relative;
        top: -2px;
        margin-left: 6px;
      }
    }

    .description {
      font-size: 1.2rem;
      font-weight: lighter;
      line-height: 1.6rem;

      span {
        font-weight: bold;
      }
    }
  }

  .qr-code {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 768px) {
  .success .videos > div {
    margin-bottom: 36px;
  }

  .success .message {
    margin-bottom: 24px;

    .title {
      text-align: center;

      span:first-child {
        display: block;
      }
    }
  }
}