.checkout, .checkout-empty {
  padding: 36px 0;
}

.checkout {

  .product {
    margin-bottom: 18px;

    .products-in-cart {
      display: flex;
      flex-direction: column;
      align-items: center;

      .overview {
        display: flex;
        margin-top: 12px;

        .img {
          width: 40%;
        }

        .text-container {
          width: calc(60% - 16px);
          padding: 12px;

          .name {
            font-weight: bold;
            font-size: 0.8rem;
            margin-bottom: 6px;
          }

          .subtitle {
            font-weight: lighter;
            font-size: 0.7rem;
          }
        }

        .remove {
          margin-top: 12px;
          cursor: pointer;
        }
      }
    }
  }

  .confirm {
    & > div {
      margin-bottom: 18px;
    }

    button {
      width: 100%;
    }
  }
}

.checkout-empty {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > * {
    margin-bottom: 30px;
  }

  .subtitle {
    font-weight: lighter;
  }
}

.back-home {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: black;
  width: 132px;
  cursor: pointer;

  span {
    padding-left: 6px;
  }
}

@media (max-width: 768px) { 
  .confirm {
    margin-top: 18px;
  }
}